body {
    background: linear-gradient(90deg, rgba(2, 2, 2, 0.897) 0%, rgba(9, 61, 121, 0.911) 35%, rgba(12, 216, 247, 0.856) 100%);
    font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

#calculadora {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.break {
    flex-basis: 100%;
}

input {
    margin-bottom: 15px;
}

.botao {
    display: flex;
    justify-content: center;
}

.resposta {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 80px;
}

.mediaFinal {
    font-size: 20px;
}